<template id="nq-oil-card-template">
	<article class="nq-oil-card">
		<div class="nq-oil-card-img">
			<img data-field="image" loading="lazy" decoding="async" />
		</div>
		<div class="nq-oil-card-body">
			<p class="nq-oil-meta" data-field="meta"></p>
			<h3 class="nq-oil-name" data-field="name"></h3>
			<p class="nq-oil-latin" data-field="latin"></p>
			<p class="nq-oil-catch" data-field="catch" hidden></p>
			<div class="nq-oil-tags" data-field="effects"></div>
			<div class="nq-oil-tags" data-field="indications"></div>
			<p class="nq-oil-lead" data-field="lead" hidden></p>
			<p class="nq-oil-mind" data-field="for_mind" hidden></p>
		</div>
	</article>
</template>

